.DS_Store
.AppleDouble
.LSOverride

.idea/
.vscode/
*.iml

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

/dist/
/coverage/

*.tsbuildinfo

*.log

.tmp/
tmp/

